<h2>Shoots</h2>
<div>
  <p>
    Filter: <input type="text" ng-model="shootFilter.name" />
  </p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th ng-click="doSort('name')">Name</th>
      <th ng-click="doSort('id')">ID</th>
      <th ng-click="doSort('description')">Description</th>
      <th ng-click="doSort('joined')">Start / End</th>
    </tr>
  </thead>
  <tbody>
    <tr class="repeat-animation" ng-repeat="shoot in shoots | filter:shootFilter | orderBy:sortBy:reverse">
      <td><a href="#/shoots/{{shoot.id}}">{{ shoot.name }}</a></td>
      <td>{{ shoot.id }}</td>
      <td>{{ shoot.description }}</td>
      <td>{{ shoot.starts }}, {{ shoot.starts_time }} - {{ shoot.ends }}, {{ shoot.ends_time }}</td>
    </tr>
  </tbody>
</table>
<span>Total Shoots: {{ shoots.length }}</span>
<footer>
  Version: {{appSettings.version}}
</footer>
