<html>
<head>
  <link href="https://vjs.zencdn.net/5.7.1/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <video id="video" class="video-js" preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="{{video}}#t={{start_time}},{{end_time}}" type="video/mp4">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  <a class="btn btn-primary" id="playButton" href="#"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;Play</a>
  <script src="https://vjs.zencdn.net/5.7.1/video.js"></script>
  <script>
    window.onload = function () {
      var playButton = document.getElementById('playButton');
      playButton.addEventListener("click", function () {

        var myPlayer = videojs("video");
        var starttime = {{start_time}} / 1000;
        var endtime = {{end_time}} / 1000;

        myPlayer.currentTime(starttime);
        myPlayer.play();

        myPlayer.on('timeupdate', function(e) {
          if (myPlayer.currentTime() > endtime) {
              myPlayer.pause();
          }
        });

      });
    }
  </script>
</body>

</html>
