/**
 * File Drop
 */

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.thumb {
  width: 100px;
  height: 100px;
  float: none;
  position: relative;
  top: 7px;
}

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

#menu.navbar-default .navbar-brand {
    color: #dbdbdb;
}
#menu.navbar-default {
    font-size: 12px;
    background-color: #2b2b2b;
    border-bottom-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: #dbdbdb;
    background-color: #2b2b2b;
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #ff8f00;
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #ff8f00;
}
#menu.navbar-default .navbar-toggle {
    border-color: #ff8f00;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ff8f00;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff8f00;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2b2b2b;
}

/**
 * Custom colours for the Jumbotron on the select page
 */

.blue {
  background-color: #3c7dc4;
  color: white;
}

.green {
  background-color: #5a8f29;
  color: white;
}

.orange {
  background-color: #ff8f00;
  color: white;
}

.grey {
  background-color: #2b2b2b;
  color: white;
}

.padding {
  padding: 50px;
  min-height: 300px;
}
