/**
 * File Drop
 */

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

#menu.navbar-default .navbar-brand {
    color: rgba(219, 219, 219, 1);
}
#menu.navbar-default {
    font-size: 12px;
    background-color: rgba(84, 87, 84, 1);
    border-bottom-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(219, 219, 219, 1);
    background-color: rgba(84, 87, 84, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(39, 129, 106, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(39, 129, 106, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: rgba(39, 129, 106, 1);
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(39, 129, 106, 1);
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(39, 129, 106, 1);
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #545754;
}
