#menu.navbar-default .navbar-brand {
    color: rgba(219, 219, 219, 1);
}
#menu.navbar-default {
    font-size: 12px;
    background-color: rgba(84, 87, 84, 1);
    border-bottom-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(219, 219, 219, 1);
    background-color: rgba(84, 87, 84, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(86, 168, 90, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(86, 168, 90, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #56a85a;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #56a85a;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #56a85a;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #545754;
}
