/* css for vertical center */

html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}

/* css for hover glow */

div.row a{
  font-size: 22px;
  color: #1f1f1f;
  background-color: #DDDDDD;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

div.row a:hover{
	-webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px black;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* custom colours for jumbotron */

.blue {
  background-color: #3c7dc4;
  color: white;
}

.green {
  background-color: #5a8f29;
  color: white;
}

.orange {
  background-color: #ff8f00;
  color: white;
}

.grey {
  background-color: #2b2b2b;
  color: white;
}

.padding {
  padding: 50px;
  min-height: 300px;
}
