<div class="row">
  <div class="col-md-12">
    <!-- Main Page Heading -->
    <h2>Task</h2>
    <hr />
    <div class="loader" ng-show="loading">Loading...</div>
    <div class="row" ng-hide="loading"></div>
  </div>  <!--#/col-md-12-->
</div> <!--#/row-->

<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading"><img src="/img/3d.png" width="20" height="26" />&nbsp;Bootlegger</div>
      <div class="panel-body">

        <h4>Reference Image</h4>
        <img src="/files/{{task.ref_images[0].filename}}" width="320" height="240" />

        <h4>Data</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                id
              </th>
              <th>
                video index
              </th>
              <th>
                video start
              </th>
              <th>
                video end
              </th>
              <th>
                clip length
              </th>
              <th>
                total video length
              </th>
              <th>
                path
              </th>
              <th>
                filename
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in task.jobs | startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>
                {{job.id | limitTo : 5}}
              </td>
              <td>
                {{job.video.index | limitTo : 5}}
              </td>
              <td>
                {{job.video.start / 1000 | setDecimal:2}}
              </td>
              <td>
                {{job.video.end / 1000 | setDecimal:2}}
              </td>
              <td>
                {{(job.video.end - job.video.start)/1000 | setDecimal:2}}s
              </td>
              <td>
                {{job.video.length/1000 | setDecimal:2}}s
              </td>
              <td>
                {{job.video.path | limitTo : 30}}...
              </td>
              <td>
                {{job.video.filename | limitTo : 30}}
              </td>
            </tr>
          </tbody>
        </table>
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= task.jobs.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          Next
        </button>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading"><img src="/img/crowdflower.png" width="32" height="26" />&nbsp;Crowdflower Results</div>
      <div class="panel-body">
      
        <p ng-hide="cf.completed">To view results, the task must first be completed.</p>
        <a class="button button-primary" ui-sref="dashboard.task-results({shoot_id: shootId, task_id: task._id})">Results</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Delete</div>
      <div class="panel-body">
        <p ng-hide="cf.completed">Warning: this will delete all traces of the job from both the server and Crowdflower. This will not affect the Bootlegger shoot in any way.</p>
        <a type="button" ng-click="deleteTask(task._id)" class="btn btn-warning btn-sm" confirm-click="Are you sure you wish to proceed?">Delete</a>
      </div>
    </div>

  </div> <!--#/col-md-8-->

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><img src="/img/crowdflower.png" width="32" height="26" />&nbsp;Crowdflower</div>
      <div class="panel-body" ng-show="cf.id">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">ID</h4>
            <p class="list-group-item-text">{{cf.id}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Title</h4>
            <p class="list-group-item-text">{{cf.title}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Instructions</h4>
            <p class="list-group-item-text">{{cf.instructions}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Judgments Per Unit</h4>
            <p class="list-group-item-text">{{cf.judgments_per_unit}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Payment in Cents</h4>
            <p class="list-group-item-text">{{cf.payment_cents}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Crowd Costs</h4>
            <p class="list-group-item-text">{{cf.crowd_costs}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Completed</h4>
            <p class="list-group-item-text">{{cf.completed}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">State</h4>
            <p class="list-group-item-text">{{cf.state}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Created</h4>
            <p class="list-group-item-text">{{cf.created_at}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Updated</h4>
            <p class="list-group-item-text">{{cf.updated_at}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">CML</h4>
            <p class="list-group-item-text">{{cf.cml}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">CSS</h4>
            <p class="list-group-item-text">{{cf.css}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Unit Count</h4>
            <p class="list-group-item-text">{{cf.units_count}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Gold Units Count</h4>
            <p class="list-group-item-text">{{cf.golds_count}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Judgments Count</h4>
            <p class="list-group-item-text">{{cf.judgments_count}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Support Email</h4>
            <p class="list-group-item-text">{{cf.support_email}}</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">View on Crowdflower</h4>
            <p class="list-group-item-text">
              <a href="https://make.crowdflower.com/jobs/{{cf.id}}/units">Units</a><br />
              <a href="https://make.crowdflower.com/jobs/{{cf.id}}/editor">Editor</a><br />
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div> <!--#/col-md-4-->
</div> <!--#/row-->


</div> <!--#/row-->
