<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- Main Page Heading -->
    <h2>Task</h2>
    <div class="loader" ng-show="loading">Loading...</div>
    <div class="row" ng-hide="loading">
</div>
<div class="row">
      <!-- Reference Image RHS -->
      <div class="col-md-4">
        <h3>Reference Images</h3>
        <div>
          <div style="height: 305px">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in task.ref_images" active="slide.active">
                <img ng-src="files/{{slide.filename}}" style="margin:auto;">

              </uib-slide>
            </uib-carousel>
          </div>
        </div>
        <h3>Data</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                id
              </th>
              <th>
                video index
              </th>
              <th>
                video start
              </th>
              <th>
                video end
              </th>
              <th>
                clip length
              </th>
              <th>
                total video length
              </th>
              <th>
                path
              </th>
              <th>
                filename
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in task.jobs">
              <td>
                {{job.id}}
              </td>
              <td>
                {{job.video.index}}
              </td>
              <td>
                {{job.video.start / 1000 | setDecimal:2}}
              </td>
              <td>
                {{job.video.end / 1000 | setDecimal:2}}
              </td>
              <td>
                {{(job.video.end - job.video.start)/1000 | setDecimal:2}}s
              </td>
              <td>
                {{job.video.length/1000 | setDecimal:2}}s
              </td>
              <td>
                {{job.video.path}}
              </td>
              <td>
                {{job.video.filename}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Video CENTRE -->
      <div class="col-md-4">
        <h3>Crowdflower Status</h3>
        <table>
          <tr>
            <td>
              Golden Units
            </td>
            <td>
              {{cf.golden_units}}
            </td>
          </tr>
          <tr>
            <td>
              All Units
            </td>
            <td>
              {{cf.all_units}}
            </td>
          </tr>
          <tr>
            <td>
              Ordered Units
            </td>
            <td>
              {{cf.ordered_units}}
            </td>
          </tr>

          <tr>
            <td>
              Completed Units Estimate
            </td>
            <td>
              {{cf.completed_units_estimate}}
            </td>
          </tr>

          <tr>
            <td>
              Needed Judgments
            </td>
            <td>
              {{cf.needed_judgments}}
            </td>
          </tr>

          <tr>
            <td>
              All Judgments
            </td>
            <td>
              {{cf.all_judgments}}
            </td>
          </tr>

          <tr>
            <td>
              Tainted Judgments
            </td>
            <td>
              {{cf.tainted_judgments}}
            </td>
          </tr>

          <tr>
            <td>
              Completed Gold Estimate
            </td>
            <td>
              {{cf.completed_gold_estimate}}
            </td>
          </tr>

          <tr>
            <td>
              Completed Non-gold Estimate
            </td>
            <td>
              {{cf.completed_non_gold_estimate}}
            </td>
          </tr>
        </table>
      </div>

      <!-- Instructions RHS -->
      <div class="col-md-4">
        <h4>Instructions</h4>
        {{task.instructions}}
        <h4>Number of jobs</h4>
        {{task.jobs.length}}
        <h4>Cost per job</h4>
        ${{task.cent_per_job / 100}}
        <h4>Total cost</h4>
        ${{(task.cent_per_job / 100) * task.jobs.length | setDecimal:2}}

      </div>

    </div>
  </div>
</div>
