<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Main Page Heading -->
      <h2>Shoot</h2>
      <div class="loader" ng-show="loading">Loading...</div>
      <div class="row" ng-hide="loading">
        <div class="col-md-8">
          <!-- Results Panel (left hand side) -->
          <div class="row">
            <div class="col-md-4" ng-repeat="shot in shoot | filter:shootFilter | orderBy:sortBy:reverse" >
              <div style="background-color: #fafafa; margin: 3px">
                <div class="row">
                  <div class="col-md-6">
                    <a href="" ng-click="play(shot.lowres, shot.id)">
                      <img ng-src="{{ shot.thumb }}" class="img-rounded" style="width: 100px; height: 75px; padding: 3px" />
                    </a>
                  </div>
                  <div class="col-md-6 small">
                    <div><span class="glyphicon glyphicon-camera"></span>&nbsp;{{shot.user.profile.displayName | limitTo: 15 }}</div>
                    <div><span class="glyphicon glyphicon-tag"></span>&nbsp;{{shot.meta.shot_ex.description | limitTo: 30 }}</div>
                  </div>
                </div>
              </div>
            </div> <!--#/col-md-4-->
          </div> <!--#/row-->
        </div> <!--#/col-md-8-->
        <div class="col-md-4">
          <!-- Control Panel (right hand side) -->
          <div class="row">
            <div class="col-md-12">
              <p>
                Filter: <input type="text" ng-model="shootFilter" />
              </p>
            </div> <!--#/col-md-12-->
          </div> <!--#/row-->
          <div class="row">
            <div class="col-md-12">
              <!-- START TABSET -->
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading><i class="glyphicon glyphicon-bell"></i>Stats</uib-tab-heading>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>total shoots:</td>
                        <td>{{shoot.length}}</td>
                      </tr>
                      <tr>
                        <td>total shoot length:</td>
                        <td>{{totalLength.humanize()}}</td>
                      </tr>
                      <tr>
                        <td>cameraperson:</td><td>{{meta.user.profile.displayName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading><i class="glyphicon glyphicon-bell"></i>Meta</uib-tab-heading>
                  {{meta|json}}
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading><i class="glyphicon glyphicon-bell"></i>Video</uib-tab-heading>
                  <video id="video" width="320" height="240" controls></video>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading><i class="glyphicon glyphicon-bell"></i>Tasks</uib-tab-heading>
                  <span ng-hide="tasks">No tasks currently running.</span>
                  <a ui-sref="dashboard.createtask-template({shoot_id: eventId})">Add Task</a>
                  <table ng-show="tasks" class="table table-striped">
                    <thead>
                      <tr><td>Task Progress</td><td>Name</td><td>Running?</td></tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="task in tasks">
                        <td></td>
                        <td><a ui-sref="dashboard.task({shoot_id: $parent.eventId, task_id: task._id})">{{task.name}}</a></td>
                        <td><span class="label label-{{running ? 'success' : 'danger' }}">{{ task.running }}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
              </uib-tabset>
              <!-- END TABSET -->
            </div> <!--#/col-md-12-->
          </div> <!--#/row-->
        </div> <!--#/col-md-4-->
      </div> <!--#/row-->
    </div>  <!--#/col-md-12-->
  </div> <!--#/row-->
</div> <!--#/container-->
