<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Welcome to the Bootlegger Crowdsourcing Tool</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <p>
        This application allows you to create annotation tasks for your Bootlegger video shoots. These tasks are annotated through crowdsourcing.
      </p>
      <p ng-hide="loggedIn">
        Please <a ui-sref="dashboard.login">login</a> to begin.
      </p>
      <p ng-show="loggedIn">
        You are successfully logged in as {{me.profile.displayName}}.
      </p>
      <p ng-show="loggedIn">
        To get started, please click <a ui-sref="dashboard.shoots">shoots</a> above to browse your shoots and select which shoot you'd like to create a task for!
      </p>
    </div>
    <div class="col-md-2">
      <div ng-show="loggedIn">
        <h4>Summary</h4>
        <p ng-show="summary">
          You currently have <span class="text-primary">{{summary.tasks_running}}</span> tasks running, <span class="text-success">{{summary.tasks_finished}}</span> completed tasks and <span class="text-danger">{{summary.tasks_unknown}}</span> idle tasks.
        </p>
        <img src="/img/spinner.gif" alt="Loading .." ng-hide="summary" />
      </div>
    </div>
  </div>
  </div>
</div>
