<h2>Create a Task</h2>
<form name="taskForm">
  <div class="row">
    <div class="col-md-12">
      <h3>#1: Choose a Template</h3>
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>name</td>
              <td>description</td>
              <td>select</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="template in templates">
              <td>{{template.name}}</td>
              <td>{{template.description}}</td>
              <td><input type="radio" ng-model="$parent.selectedTemplate" name="name" value="{{$index}}" required /> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>#2: Enter Task Details</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="task.name">Task Name</label>
        <input type="text" class="form-control" id="task.name" placeholder="Name" ng-model="task.name" required>
      </div>
      <div class="form-group">
        <label for="task.instructions">Instructions</label>
        <textarea class="form-control" id="task.instructions" rows="3" ng-model="task.instructions" placeholder="Enter instructions for operators" required></textarea>
      </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label for="task.jobs">Task Jobs</label>
          <input type="range" class="form-control" id="task.jobs" ng-model="task.jobs" min="1" max="1000" value="100" required />
          <div>{{task.jobs}}</div>
        </div>

        <div class="form-group">
          <label for="task.passes">Task Passes</label>
          <input type="range" class="form-control" id="task.passes" ng-model="task.passes" min="1" max="5" value="1" required />
          <div>{{task.passes}}</div>
        </div>

        <div class="form-group" ng-show="templates[selectedTemplate].imagereq">
          <label>File upload</label>
          <div nv-file-drop uploader="uploader" class="panel panel-warning">Drop files here<br /><br /></div>
          <input type="file" nv-file-select uploader="uploader"/>
          <ul>
            <li ng-repeat="item in uploader.queue">
              Name: <span ng-bind="item.file.name"></span><br/>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
  <button type="submit" class="btn btn-primary" ng-click="submit(task)" ng-disabled="taskForm.$invalid">Submit</button>
</form>
