<h2>Create a {{template.name}} Task</h2>
<form name="taskForm">

  <div class="row">
    <h3>Enter Task Details</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="formData.name">Task Name</label>
        <input type="text" class="form-control" id="formData.name" placeholder="Name" ng-model="formData.name" required>
      </div>
      <div class="form-group">
        <label for="formData.instructions">Instructions</label>
        <textarea class="form-control" id="formData.instructions" rows="3" ng-model="formData.instructions" placeholder="Enter instructions for operators" required></textarea>
      </div>
      <div class="form-group">
        dd
      </div>
    </div>
    <div class="col-md-6">
      <h4>Preview</h4>
      
        <div class="form-group">
          <label for="formData.jobs">Task Jobs</label>
          <input type="range" class="form-control" id="formData.jobs" ng-model="formData.jobs" min="1" max="1000" value="100" required />
          <div>{{formData.jobs}}</div>
        </div>

        <div class="form-group">
          <label for="formData.passes">Task Passes</label>
          <input type="range" class="form-control" id="formData.passes" ng-model="formData.passes" min="1" max="5" value="1" required />
          <div>{{formData.passes}}</div>
        </div>

        <div class="form-group" ng-show="templates[selectedTemplate].imagereq">
          <label>File upload</label>
          <div nv-file-drop uploader="uploader" class="panel panel-warning">Drop files here<br /><br /></div>
          <input type="file" nv-file-select uploader="uploader"/>
          <ul>
            <li ng-repeat="item in uploader.queue">
              Name: <span ng-bind="item.file.name"></span><br/>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
  <button type="submit" class="btn btn-primary" ng-click="submit(task)" ng-disabled="taskForm.$invalid">Submit</button>

</form>
