<div class="row">
  <div class="col-md-12">
    <!-- Main Page Heading -->
    <h2>Task</h2>
    <div class="loader" ng-show="loading">Loading...</div>
    <div class="row" ng-hide="loading">

      <!-- Reference Image RHS -->
      <div class="col-md-4">
        <div>
          <div style="height: 305px">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in task.ref_images" active="slide.active">
                <img ng-src="files/{{slide.filename}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index}}</h4>
                  <p>Text</p>
                </div>
              </uib-slide>
            </uib-carousel>
          </div>
        </div>
      </div>

      <!-- Video CENTRE -->
      <div class="col-md-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                id
              </th>
              <th>
                video index
              </th>
              <th>
                video start
              </th>
              <th>
                video end
              </th>
              <th>
                clip length
              </th>
              <th>
                total video length
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in task.jobs">
              <td>
                {{job.id}}
              </td>
              <td>
                {{job.video.index}}
              </td>
              <td>
                {{job.video.start / 1000 | setDecimal:2}}
              </td>
              <td>
                {{job.video.end / 1000 | setDecimal:2}}
              </td>
              <td>
                {{(job.video.end - job.video.start)/1000 | setDecimal:2}}s
              </td>
              <td>
                {{job.video.length/1000 | setDecimal:2}}s
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Instructions RHS -->
      <div class="col-md-4">
        <h4>Annotate Link</h4>
        <a href="#/shoots/{{shoot_id}}/task/{{task._id}}/annotate">Annotate</a>
        <h4>Instructions</h4>
        {{task.instructions}}
        <h4>Number of jobs</h4>
        {{task.jobs.length}}
        <h4>Cost per job</h4>
        ${{task.cent_per_job / 100}}
        <h4>Total cost</h4>
        ${{(task.cent_per_job / 100) * task.jobs.length | setDecimal:2}}
      </div>



    </div>
  </div>
</div>
