<div class="row">
  <div class="col-md-12">
    <!-- Main Page Heading -->
    <h2>Task</h2>
    <div class="loader" ng-show="loading">Loading...</div>
    <div class="row" ng-hide="loading">

      <!-- Reference Image RHS -->
      <div class="col-md-4">
        <div ng-repeat="img in task.ref_images">
          <img ng-src="files/{{img.filename}}" class="col-md-12"/>
        </div>
      </div>

      <!-- Video CENTRE -->
      <div class="col-md-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                id
              </th>
              <th>
                _id
              </th>
              <th>
                video index
              </th>
              <th>
                video start
              </th>
              <th>
                video end
              </th>
              <th>
                clip length
              </th>
              <th>
                total video length
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="job in task.jobs">
              <td>
                {{job.id}}
              </td>
              <td>
                {{job._id}}
              </td>
              <td>
                {{job.video.index}}
              </td>
              <td>
                {{job.video.start}}
              </td>
              <td>
                {{job.video.end}}
              </td>
              <td>
                {{(job.video.end - job.video.start)/1000}}
              </td>
              <td>
                {{job.video.length}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Instructions RHS -->
      <div class="col-md-3">
        {{task.instructions}}
      </div>

    </div>
  </div>
</div>
