<h2>Shoots</h2>
<div>
  <p>
    Filter: <input type="text" ng-model="shootFilter" />
  </p>
</div>

<div class="row-fluid">
  <div class="col-md-3" ng-repeat="shot in shoot | filter:shootFilter | orderBy:sortBy:reverse">
    <a href="" ng-click="play(shot.lowres)">
      <img src="{{ shot.thumb }}" height="75"  width="100" />
    </a>
    <span>{{shot.user.profile.displayName}}</span>
  </div>

  <div class="col-xs-6 col-md-4">
      <h3>Video player:</h3>
      <video id="video" width="320" height="240" controls></video>
  </div>
</div>

<span>Total Shots: {{ shots.length }}</span>

<footer>
  Version: {{appSettings.version}}
</footer>
